<a href="https://colab.research.google.com/github/NicoGarofalo/TPDatos/blob/master/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Notebook oficial - TP Datos

In [1]:
# Importando librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
import warnings

In [2]:
#Carga del dataset
df_tweets = pd.read_csv('data/train.csv')
#Dimension
print('La dimension del dataset es: ',df_tweets.shape[0], 'registros,', df_tweets.shape[1],'columnas')
# Vista de los primeros registros
df_tweets.head(5)
# Data:
# id - identificador unico para cada tweet
# keyword - un keyword para el tweet (podría faltar)
# location - ubicación desde donde fue enviado (podría no estar)
# text - el texto del tweet
# target - indica si se trata de un desastre real (1) o no (0)

La dimension del dataset es:  7613 registros, 5 columnas

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
#Definición de tipos
df_tweets['id'] = df_tweets['id'].astype(int)
df_tweets['keyword'] = df_tweets['keyword'].astype('string')
df_tweets['location'] = df_tweets['location'].astype('string')
df_tweets['text'] = df_tweets['text'].astype('string')
df_tweets['target'] = df_tweets['target'].astype('bool')

In [4]:
#Elimino duplicados
df_tweets.drop_duplicates(inplace=True)

In [7]:
df_tweets.describe(include="all")

,id,keyword,location,text,target
count,7613.000000,7552,5080,7613,7613
unique,NaN,221,3341,7503,2
top,NaN,fatalities,USA,11-Year-Old Boy Charged With Manslaughter of T...,False
freq,NaN,45,104,10,4342
mean,5441.934848,NaN,NaN,NaN,NaN
std,3137.116090,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN
25%,2734.000000,NaN,NaN,NaN,NaN
50%,5408.000000,NaN,NaN,NaN,NaN
75%,8146.000000,NaN,NaN,NaN,NaN
max,10873.000000,NaN,NaN,NaN,NaN

In [6]:
print(df_tweets.info())
# Tenemos:
# -> 100% datos id, text y target
# -> 99,19% datos keyword
# -> 66,73% datos location

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   string
 2   location  5080 non-null   string
 3   text      7613 non-null   string
 4   target    7613 non-null   bool
dtypes: bool(1), int64(1), string(3)
memory usage: 304.8 KB
None

In [23]:
keywords = df_tweets['keyword']
print('Las key son',len(keywords.unique()), 'keywords:')
keywords.value_counts()

Las key son 222 keywords:

fatalities               45
deluge                   42
armageddon               42
damage                   41
harm                     41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: Int64

In [17]:
location = df_tweets['location']
print('La locations son',len(location.unique()), 'locations:')
location.value_counts().head(5)

La locations son 3342 locations:

USA              104
New York          71
United States     50
London            45
Canada            29
Name: location, dtype: Int64

In [ ]:
# Análisis sobre las keywords más frecuentes para los eventos falsos

In [34]:
falseEvents = df_tweets[df_tweets['target'] < 1]
falseEventsKeys = falseEvents['keyword']
print('Las key son',len(falseEventsKeys.unique()), 'keywords:')
falseEventsKeys.value_counts()

Las key son 219 keywords:

body%20bags          40
armageddon           37
harm                 37
ruin                 36
deluge               36
                     ..
suicide%20bombing     1
suicide%20bomber      1
oil%20spill           1
outbreak              1
typhoon               1
Name: keyword, Length: 218, dtype: Int64

In [ ]:
#Ideas:

# - Tratar de ver la forma de armar un diccionario de locations (sobre todo USA).
# - Contar la cantidad de palabras usadas en text y relacionar con estudios psicológicos.
# - Armar un diccionario de keyword y filtrar. Analizar segun distribución (gráfico)
# - Análisis de tweets por pais (si es posible)
# - Análisis de las keys más frecuentes para eventos falsos. Filtrar a partir de esta data, si es posible.
# - Idem eventos verdaderos.
# - Análisis de palabras más usadas para eventos falsos y verdaderos.